body {
  background: linear-gradient(135deg, #000, #1a001a);
  font-family: Arial, sans-serif;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-box, .painel {
  background: rgba(0,0,0,0.85);
  padding: 30px;
  border-radius: 12px;
  text-align: center;
  width: 320px;
  box-shadow: 0 0 20px #800080;
}

h1 {
  color: #ff4dd2;
}

input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 6px;
  border: none;
}

button {
  width: 100%;
  padding: 12px;
  background: #ff4dd2;
  border: none;
  border-radius: 6px;
  color: #000;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background: #ff1ab3;
}

.btn-whats {
  display: block;
  margin-top: 20px;
  padding: 14px;
  background: #25D366;
  color: #000;
  text-decoration: none;
  font-weight: bold;
  border-radius: 6px;
}

.aviso, .nota {
  font-size: 12px;
  margin-top: 15px;
  color: #ccc;
  }
